body {
    background-color: rgb(12, 33, 75);
    background-image: radial-gradient( circle, rgba(240, 231, 231, 0) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 2000px;
    overflow: hidden;
 }
 .animated-progress {
    width: 300px;
    height: 32px;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
  
  .progress-blue1 span {
    background-color: rgb(255, 81, 0);
  }
  .progress-blue2 span {
    background-color: rgb(0, 145, 255);
  }
  .progress-blue3 span {
    background-color: rgb(255, 247, 0);
  }
  .progress-blue4 span {
    background-color: rgb(76, 0, 255);
  }
  .progress-blue5 span {
    background-color: rgba(0, 67, 87, 0.987);
  }
  .progress-blue6 span {
    background-color: rgb(209, 49, 0);
  }
  .progress-blue7 span {
    background-color: rgb(0, 217, 255);
  }
